.home-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
  border: 20px solid #f0f0f0;
  
}
.image:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  background-color: color-mix(in srgb, color percentage, color percentage);
}
.image img {
  max-width: 100%;
  height: auto;
  border-radius: 17px;
} 

.content {
  flex: 2;
}
.form-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}
.form-group textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}